body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
@import url('https://fonts.googleapis.com/css2?family=Zen+Antique+Soft&display=swap');
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{margin: 0%;
padding: 0%;
box-sizing: border-box;
font-family: 'Zen Antique Soft', serif;}

/* NAVBAR STYLING */
.navbar-light .navbar-nav .nav-link{
  color: green!important;}
  .navbar-light .navbar-nav .nav-link:hover{color:red!important;}

  .navbar-brand{font-size: 2rem!important;
    color: cadetblue!important;
    font-weight: bold;
    text-shadow: 7px 3px 4px;}

    .navbar-brand:hover{font-size: 2rem!important;
      color: #795548!important;}

      .menu_active{font-weight: bold; border-bottom: 1px solid #565387;}
.getbtn{border: 1px solid;
  padding: 10px 22px;
  text-decoration: none;
  font-weight: 800;
  border-radius: 27px;
  background: beige;}

  #header{position: relative;
    height: 100vh;}

  #header::after{
    content: '';
    background: url('./Images/smoke.jpg')no-repeat center center/cover;
    position: absolute;
    opacity: 0.3;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

  #header .grow-bussiness{ margin-top: 170px;
    text-align: center;}

    #header h1{font-size: xxx-large;}

    #header .pic{height: 360px;
      margin-top: 126px;}

      #header .pic img{height: 100%; width: 100%;}

    .brand-name{color: blue;}

    /* CARD STYLING */

    .card img{height: 230px;}
    .card1 h1{text-align: center;
      margin-top: 53px;
      font-weight: bold;
      letter-spacing: 6px;}

      .movie .heading{text-align: center;
        margin: 42px 0px;
        font-weight: bolder;}

        .movie .cards .card_info{text-align: center;
          padding: 15px 0px;
          font-weight: 900;
          background: aquamarine;}

          .movie .cards .card_info span{color: darkgrey;}

          .movie .cards .card_info button{padding: 6px 20px;
            font-weight: bold;
            border-radius: 24px;
            outline: none;
            border: none;
            box-shadow: 2px 2px 9px darkslategrey;}

            .movie .cards .card_info button:hover{cursor: pointer;
            background-color: royalblue;
          color: white;}


      footer{margin-top: 56px;
        background: gray;
        padding: 1px 0px;
        text-align: center;
        font-weight: bold;
        letter-spacing: 2px;
        word-spacing: 3px;}

      


.form{
    height: 75vh;
    width: 320px!important;
    margin: auto!important;
    padding: 40px 30px;}

    form{padding: 21px 16px;
      width: 100%;
      box-shadow: 2px 2px 9px;
    background: white;}

      .form0{background: rgb(63,94,251);
        background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);}

/* TODO LIST STYLING */

.main_div{height: 100vh;
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
  text-align: center;
padding-top: 100px;}

  .main_div  .center_div{    margin: auto;
     height: 70%;
    width: 35%;
    background: white;
    box-shadow: 2px 2px 9px black;}

    .main_div h1{background: cadetblue;
      font-weight: bolder;}

      .main_div input{margin: 15px 6px;
        border: none;
        border-bottom: 1px solid green;
        text-align: center;
        font-weight: 500;
        outline: none;}

        .main_div button{border-radius: 20px;
          background: cornflowerblue;
          color: black;
          font-weight: bolder;
          font-size: 18px;}

          .main_div button:hover{background: green;
            color:white;}

            .main_div .center_div ol li{list-style: none;
             
              margin-right: 65px;
              font-weight: bolder;
              text-transform: capitalize;
              color: blueviolet;}

              .todo{
                display: flex;
                flex-direction:row;
                justify-content: left;
                align-items: center;
              }

              .todo .fa-times{width:20px;
              height: 20px;
            display: flex;
          justify-content: center;
        align-items: center;
      background-color: #8566aa;
    border-radius: 50%;
  margin: 0px 15px 0 35px;
color: aliceblue;
box-shadow:5px 5px 15px -5px rgba(0,0,0,0.3);}

.todo .fa-times:hover{color:red;
background-color: white;}

/* PORTFOLIO STYLING */


.search_bar{text-align: center;
  margin-top: 67px;
height: 100vh;}

  .search_bar input{    outline: none;
    border: none;
    border-bottom: 1px solid red;
    font-weight: 600;}

    .search_img img{height: 400px;
      margin-top: 80px;}



